{% extends "base.html" %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
{% block content %}
    <div class="container">
        <h1>Tabela do Campeonato</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Pontos</th>
                    <th>Jogos</th>
                    <th>Vitórias</th>
                    <th>Derrotas</th>
                    <th>Empates</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Flamengo</td>
                    <td>30</td>
                    <td>10</td>
                    <td>8</td>
                    <td>1</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>Real Madrid</td>
                    <td>25</td>
                    <td>9</td>
                    <td>7</td>
                    <td>1</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>Barcelona</td>
                    <td>24</td>
                    <td>9</td>
                    <td>7</td>
                    <td>2</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Palmeiras</td>
                    <td>21</td>
                    <td>10</td>
                    <td>6</td>
                    <td>2</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>Liverpool</td>
                    <td>20</td>
                    <td>9</td>
                    <td>6</td>
                    <td>2</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>Arsenal</td>
                    <td>15</td>
                    <td>10</td>
                    <td>4</td>
                    <td>5</td>
                    <td>1</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
