{% extends "base.html" %}
{% load static %}
{% block content %}

<script type="text/javascript" language="javascript">

function validateForm (){
if (document.getElementById("registerName").value.length < 3){
alert('Por favor, preencha o campo nome');
document.getElementById("registerName").focus();

return false
}

if (document.getElementById("registerEmail").value.length <3/ ){
alert('Por favor, preencha o campo email');
document.getElementById("registerEmail").focus();

return false
}

if (document.getElementById("registerPassword").value.length < 4){
alert('Por favor, preencha o campo email');
document.getElementById("registerPassword").focus();

return false
}

}

</script>


<div  class="container mt-5">
  <h1 class="text-center mb-5">Register</h1>
  <div class="d-flex justify-content-center">

    <form class="bloco-1" name="myform" action="{% url 'cadastro' %}" onsubmit="return validateForm(this)"  method="POST">{% csrf_token %}
        
  
        <!-- Name input -->
        <div class="form-outline mb-4">
          <input type="text" id="registerName" name="name" class="form-control" />
          <label class="form-label" for="registerName">Name</label>
        </div>
  
        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="email" id="registerEmail" name="email" class="form-control" />
          <label class="form-label" for="registerEmail">Email</label>
        </div>
  
        <!-- Password input -->
        <div class="form-outline mb-4">
          <input type="password" id="registerPassword" name="senha" class="form-control" />
          <label class="form-label" for="registerPassword">Password</label>
        </div>
  
        <!-- Repeat Password input -->
        <div class="form-outline mb-4">
          <input type="password" id="registerRepeatPassword" class="form-control" />
          <label class="form-label" for="registerRepeatPassword">Repeat password</label>
        </div>
  
        <!-- Checkbox -->
        <div class="form-check d-flex justify-content-center mb-4">
          <input class="form-check-input me-2" type="checkbox" value="" id="registerCheck" checked
            aria-describedby="registerCheckHelpText" />
          <label class="form-check-label" for="registerCheck">
            I have read and agree to the terms
          </label>
        </div>
  
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-3 w-100">Criar</button>
        <button type="button" class="btn btn-secondary btn-block mb-3 w-100">Fechar</button>
      </form>

    <style>
        body{
            background-color:rgb(236, 170, 48);
            margin: 0;
        }
        .bloco-1 {
            background-color: white;
            border-radius: 10px;
            padding: 20px;
            
        }
    
    </style>
  </div>
</div>

{% endblock %}
