{% extends "base.html" %}

{% block content %}
    <div style="display: flex; justify-content: center; align-items: center; height: 50vh;">
        <div>
            <h1>Resultados Anteriores da Equipe</h1>
            
            <form method="GET">
                <input type="text" name="query" value="{{ query }}">
                <button type="submit">Buscar</button>
            </form>
            
            {% if jogos %}
                <h2>Jogos Encontrados:</h2>
                <ul>
                {% for jogo in jogos %}
                    <li>
                        {{ jogo.time }} - {{ jogo.horario }}
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                <p>Nenhum resultado encontrado.</p>
            {% endif %}
        </div>
    </div>
    
    <style>
        div {
            max-width: 600px;
            width: 100%;
            margin: 0 auto;
            text-align: center;
        }

        form {
            display: flex;
            align-items: center;
            margin: 20px 0;
        }

        input[type="text"] {
            flex: 1;
            padding: 10px;
            font-size: 16px;
            border: none;
            border-bottom: 2px solid #333;
            margin-right: 10px;
        }

        button[type="submit"] {
            padding: 10px 20px;
            font-size: 16px;
            background-color: #333;
            color: #fff;
            border: none;
            cursor: pointer;
        }

        button[type="submit"]:hover {
            background-color: #555;
        }
    </style>
{% endblock %}
