<html>
    <head>
        
    </head>
    <body>
        
        <h1> h1  </h1>
        <p> tal do p </p>

        <h2>esse e o h2</h2>

        <a href=""> clique aqui</a>
    </body>
</html>
----------------------------------------------
<html>
<head>
    <style>
        .app-name {
            text-align: center;
        }
        .center {
            margin: 0 auto;
            text-align: center;
            max-width: 600px;
        }
    </style>
</head>
<body>
    <h1 class="app-name"><a href="/home">CapFootball</a></h1>
    {% block content %}{% endblock %}
</body>
</html>